h1 {
    background-color: #f2f2f2;
    text-align: center;
    word-spacing: 30px;
    letter-spacing: 8px;

}
.home {
    text-decoration-line: none;
    color: black;
    
}
.cataloge {
    text-decoration-line: none;
    color: black;
}
.news {
    text-decoration-line: none;
    color: black;
}